<header class="header">
<div class="logoApp">
  <a href="/">
    <img src="./img/image.png" alt="Logo" />
  </a>
</div>

  <h1 class="title">Task Adventure</h1>

  <div class="right-section">
    <div class="user-menu">
      {{#if user}}
        <div class="user-info">
          <img src="./img/UserIcon.jpg" alt="Avatar" class="avatar">
          <span>{{user.username}}</span>
          <form action="/Logout" method="POST">
            <button type="submit">Logout</button>
          </form>
        </div>
      {{else}}
        <div class="login-link">
          <a href="/Login">Login</a>
        </div>
      {{/if}}
    </div>

    <div class="burger" id="burger">&#9776;</div>

    <nav class="dropdown-menu hidden" id="dropdownMenu">
      <a href="/leaderboard">leaderboard</a>
      <a href="/settings">Settings</a>
      <a href="/CharacterCreation">Character Creation</a>
      <a href="/FocusMode">Focus Mode</a>
      <a href="/Stats">Statistics</a>
      <a href="/TaskManager">Task Manager</a>
    </nav>
  </div>
</header>
