<head>
  <link rel="stylesheet" href="/styles/CreateAccount.css">
</head>
<body>
  <div class="form-container">
    <h2>Create Account</h2>

    <div class="input-group">
      <label for="email">E-mail</label>
    </div>
    <div class="input-wrapper">
      <input type="email" id="email" placeholder="E-mail" />
    </div>

    <div class="input-group">
      <label for="username">Username</label>
    </div>
    <div class="input-wrapper">
      <input type="text" id="username" placeholder="Username" />
    </div>

    <div class="input-group">
      <label for="password">Password</label>
    </div>
    <div class="input-wrapper">
      <input type="password" id="password" placeholder="Password" />
    </div>

    <div class="input-group">
      <label for="confirm-password">Confirm Password</label>
    </div>
    <div class="input-wrapper">
      <input type="password" id="confirm-password" placeholder="Confirm Password" />
    </div>
    <button><a href="/Login">Create Login</a></button>
  </div>
</body>