<link rel="stylesheet" href="/styles/classroom.css" />
<h1>{{pageTitel}}</h1>

{{#if message}}
  <p class="message">{{message}}</p>
{{/if}}


<form action="/classroom" method="POST" class="classroom-form">
  <div>
    <label for="name">Naam klas:</label>
    <input type="text" id="name" name="name" required value="{{name}}">
  </div>

  <div>
    <label for="code">Code klas:</label>
    <input type="text" id="code" name="code" required value="{{code}}">
  </div>

  <button type="submit">Maak klas aan</button>
</form>
<div class="extra-button">
  <a href="/joinClassroom" class="button-secondary">Of sluit aan bij een klas</a>
</div>
