<head>
    <title>Focus</title>
    <link rel="stylesheet" href="/CSS/FocusMode.css">
</head>
<body>
    <div class="container">
        <div class="exit" onclick="CloseFocusMode()">✕</div>
        <h1 class="focus-text">Focus</h1>
    </div>
</body>
</html>