<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Podium & Scroll Box</title>
    <link rel="stylesheet" href="/styles/leaderboard.css">
</head>

<body>
    <div class="container">
        <div class="podium">
            <div class="block second">
                <div class="namexp">
                    <p class="top 3">Player 2</p>
                    <p class="top 3 xp">1500 XP</p>
                </div>
                <img src="/img/malePixel.png" class="character" alt="2nd place" />
                2
            </div>

            <div class="block first">
                <div class="namexp">
                    <p class="top 3">Player 2</p>
                    <p class="top 3 xp">1500 XP</p>
                </div>
                <img src="/img/malePixel.png" class="character" alt="1st place" />
                1
            </div>
            <div class="block third">
                <div class="namexp">
                    <p class="top 3">Player 2</p>
                    <p class="top 3 xp">1500 XP</p>
                </div>
                <img src="/img/malePixel.png" class="character" alt="3rd place">
                3
            </div>
        </div>
        <div class="scroll-box">
            <div class="scroll-content">
                <div class="item">
                    <img src="/img/headshotmale.png" class="head" />
                    <p class="name">Player 1</p>
                    <p class="experience">XP: 100</p>
                </div>
                <div class="item">
                    <img src="/img/headshotmale.png" class="head" />
                    <p class="name">Player 2</p>
                    <p class="experience">XP: 100</p>
                </div>
                <div class="item">
                    <img src="/img/headshotmale.png" class="head" />
                    <p class="name">Player 3</p>
                    <p class="experience">XP: 100</p>
                </div>
                <div class="item">
                    <img src="/img/headshotmale.png" class="head" />
                    <p class="name">Player 4</p>
                    <p class="experience">XP: 100</p>
                </div>
                <div class="item">
                    <img src="/img/headshotmale.png" class="head" />
                    <p class="name">Player 5</p>
                    <p class="experience">XP: 100</p>
                </div>
                <div class="item">
                    <img src="/img/headshotmale.png" class="head" />
                    <p class="name">Player 6</p>
                    <p class="experience">XP: 100</p>
                </div>

            </div>
        </div>
    </div>
</body>

</html>