<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podium & Scroll Box</title>
    <link rel="stylesheet" href="/styles/leaderboard.css">
</head>
<body>
   <div class="container">
        <div class="podium">
            <div class="block second">
                2
                <img src="/img/malePixel.png" class="character" alt="2nd place">
            </div>
            <div class="block first">
                1
                <img src="/img/malePixel.png" class="character" alt="1st place">
            </div>
            <div class="block third">
                3
                <img src="/img/malePixel.png" class="character" alt="3rd place">
            </div>
        </div>
        <div class="scroll-box">
            <div class="scroll-content">
                <div class="item">Item 1
                   <img src ="/img/headshotmale.png" class ="head"/>

                </div>
                <div class="item">Item 2</div>
                <div class="item">Item 3</div>
                <div class="item">Item 4</div>
                <div class="item">Item 5</div>
                <div class="item">Item 6</div>
                <div class="item">Item 7</div>
            </div>
        </div>
    </div>
</body>
</html>
