<body>
    <div class="login-container">
    <h2>Login</h2>
    <div class="input-group">
       <label for="username">Username</label>
      <input type="text" id="username" placeholder="Username" />
     </div>
    <div class="button-container">
        <button>Username</button>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Password" />
    </div>
      <div class="button-container">
          <button>Password</button>
      </div>
      <button>Login</button>
      <div class="links">
        <a href="#">Create Account</a>
        <a href="#">Forgot your Password</a>
      </div>
    </div>
  </body>