<head>
  <link rel="stylesheet" href="/styles/login.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
  <div class="login-container">
    <h2>Login</h2>

<form action="/Login" method="POST">
  <div class="input-wrapper">
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Username" required />
    </div>
  </div>

  <div class="input-wrapper">
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Password" required />
    </div>
  </div>

  <div class="input-wrapper">
    <button type="submit">Login</button>
  </div>
</form>
{{#if error}}
<script>
  Swal.fire({
    icon: 'error',
    title: 'Toegang geweigerd',
    text: '{{error}}',
    confirmButtonColor: '#d33'
  });
</script>
{{/if}}
<script>
  const params = new URLSearchParams(window.location.search);
  if (params.get("reset") === "success") {
    Swal.fire({
      icon: 'success',
      title: 'Wachtwoord gewijzigd',
      text: 'Je kunt nu inloggen met je nieuwe wachtwoord.',
      confirmButtonColor: '#3085d6'
    });
  }
</script>
    <div class="links">
      <a href="/CreateAccount">Create Account</a>
      <a href="/reset-password">Forgot your Password</a>
    </div>
  </div>
</body>
