<head>
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <div class="login-container">
    <h2>Login</h2>
    
    <div class="input-group">
      <label for="username">Username</label>
    </div>
    <div class="input-wrapper">
      <input type="text" id="username" placeholder="Username" />
    </div>

    <div class="input-group">
      <label for="password">Password</label>
    </div>
    <div class="input-wrapper">
      <input type="password" id="password" placeholder="Password" />
    </div>

    <button>Login</button>
    <div class="links">
      <a href="/CreateAccount">Create Account</a>
      <a href="#">Forgot your Password</a>
    </div>
  </div>
  </body>