<link rel="stylesheet" href="/styles/Stats.css">
<body>
<h3 class="UserStats">User Stats</h3>
    <section>
      <article class="TaskCopleted">
        <h4>Task Completed</h4>
        <p class="Stats">0</p>
      </article>

      <article class="TaskNotCopleted">
        <h4>Task Failed</h4>
        <p class="Stats">0</p>
      </article>

      <article class="TotalXpGained">
        <h4>Total Xp gained</h4>
        <p class="Stats">0</p>
      </article>

      <article class="Friends">
        <h4>Friends</h4>
        <p class="Stats">0</p>
      </article>
      <article class="MostXpForOneTask">
        <h4>Most Xp for 1 task</h4>
        <p class="Stats">0</p>
      </article>
      <article class="MostTaskIn24h">
        <h4>Most tasks complete in 24h</h4>
        <p class="Stats">0</p>
      </article>
      <article class="DailyStreak">
        <h4>Daily streak</h4>
        <p class="Stats">0</p>
      </article>
      <article class="timeSpentOnTask">
        <h4>Time spend on tasks</h4>
        <p class="Stats">0</p>
      </article>
    </section>
  </body>
</html>
