<link rel="stylesheet" href="/styles/Stats.css">
<body>
<h3 class="UserStats">User Stats</h3>
    <section>
      <article class="TaskCopleted">
        <h4>Task Completed</h4>
        <p class="Stats">0</p>
      </article>

      <article class="TaskNotCopleted">
        <h4>Task in progress</h4>
        <p class="Stats">0</p>
      </article>

      <article class="TaskPaused">
        <h4>Tasks paused</h4>
        <p class="Stats">0</p>
      </article>

      <article class="Friends">
        <h4>Tasks failed</h4>
        <p class="Stats">0</p>
      </article>
      <article class="unkown">
        <h4>Tasks deleted</h4>
        <p class="Stats">0</p>
      </article>
      <article class="unkown">
        <h4>Friends</h4>
        <p class="Stats">0</p>
      </article>
    </section>
  </body>
</html>