.everything{
padding-right: 200px;;
}

.character-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: calc(100vh - 150px); /* adjusts for header/footer */
  padding: 40px 20px;
  left:20%
}

.character-box {
  background-color: #2a2a2a;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
}

.character-frame {
  height: 400px;
  width: 288px;
  background-color: #1e1e1e;
  border: 2px solid #6e00ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-frame img {
  height: 100%;
  object-fit: contain;
}

.character-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group label,
.bodytype-selection label {
  color: #fff;
  margin-bottom: 4px;
  display: block;
}

.input-group input {
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 3rem;
  width: 140%;
}

.radio-buttons label {
  margin-right: 15px;
  color: white;
}

.confirm-button {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 8px;
  background-color: #d9b9ff;
  color: #1e1e1e;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 2rem;
}

.character-name-label{
font-size: 2rem;
font-weight: bold;
font-family: 'Segoe UI', sans-serif;
}

.bodytype-label{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
}

.radio-buttons{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;  
}

.confirm-button:hover {
  background-color: #b47cff;
}
