body, html {
    margin: 0;
    padding: 0;
    background-color: #4b0082; 
    font-family: 'Courier New', Courier, monospace;
}

.container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.timer-display {
    font-size: 15vw;
    color: white;
    text-align: center;
    margin-top: 40px;
}

.timer-controls {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.timer-controls input,
.timer-controls button {
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    color: #4b0082;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.timer-controls input {
    width: 100px;
    text-align: center;
}

.timer-controls button:hover {
    background-color: #e0e0e0;
}

header {
    color: white;
    text-align: center;
}
