/* Footer css */
.footer {
  background-color: #2a005f;
  color: #ccc;
  text-align: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  position: static;
  display: none;
}

.footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
