body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #4a0080;
    color: white;
  }
  
  .profile-container {
    background-color: #5e2d91;
    width: 400px;
    margin: 80px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  form label {
    display: block;
    margin: 15px 0 5px;
    text-align: left;
  }
  
  form input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: #360066;
    color: white;
    margin-bottom: 15px;
  }
  
  form input::placeholder {
    color: #d1b3ff;
  }
  
  button[type="submit"] {
    padding: 12px 25px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #222;
  }
  