body {
  padding-top: 80px;
  padding-bottom: 70px;
  background-color: #1e1e1e;
  
  font-family: Arial, sans-serif;
  margin: 20px;
}
.Titles h1 {
  color: white;
}


li {
  line-height: 1.4;
  margin: 5px 0;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

  ul {
    list-style: none;
    padding-left: 0;
    color: #FFFFFF;
  }

  li:hover {
    background-color: #230B66;
  }

  .details {
    display: none;
    margin-top: 5px;
    font-size: 0.9em;
    color: #FFFFFF;
  }


  li.open .details {
    display: block;
  }

.switch {
  margin: 5px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}


.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}


.switch input:checked + .slider {
  background-color: #4caf50;
}


.switch input:checked + .slider::before {
  transform: translateX(22px);
}