html {
  font-family: sans-serif;
}
body {
  padding-top: 80px;
  background-color: #540991;
}

h4 {
  text-align: center;
  color: whitesmoke;
  line-height: 10px;
  margin: 0;
}
.Stats {
  font-size:150%;
  text-align: center;
  color: whitesmoke;
}

article {
  padding: 10px;
  margin: 10px;
  flex: 200px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
article:hover {
  background-color: #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transform: scale(1.05);
  cursor: pointer;
  h4{
    color: black;
  }
  .Stats {
    color: black;
  }
}
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.TaskCopleted {
  background: #0FE147;
}
.TaskNotCopleted {
  background: red;
}
.TaskPaused{
  background: orange;
}
.Friends{
      background: lightskyblue;
}
.unkown{
  background: grey;
}
.UserStats{
  text-align: center;
  color: whitesmoke;
}